body{
    background-color: sandybrown;
}
div
{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
h1{
    color:black;
    text-align: center;
    
}

hr
{
    display: block;
    border-style: double;
    border-width: 10px;
    color:solid black;
}
a[href="https://www.youtube.com/channel/UC1tm3qWHbjYgncDLFfOfkRg"]
{
    Color: Purple;
    Margin: auto;
}

a:hover[href="https://www.youtube.com/channel/UC1tm3qWHbjYgncDLFfOfkRg"]
{
color:aqua;

}
a[href="https://Instagram.com/animeandbeyond7"]
{
    Color:solid Black;
    margin:auto;
}

a:hover[href="https://Instagram.com/animeandbeyond7"]
{
    color: maroon;
}
a[href="https://facebook.com/animeandbeyond7"]
{
    color: blue;
    margin: auto;
}
 a:hover[href="https://facebook.com/animeandbeyond7"]
 {
     color: yellow;
 }

 img {
     
    display: flex;
    flex-wrap: wrap;
    padding-left: 400px;
    padding-bottom: 100px;

}

#favorite {
    flex-wrap: wrap;
    display: flex;
    padding-left:400px;
}

#favorite > ol
{
    text-align: left;
    padding-left: 240px;
}

table{
border:2px solid black;
margin:auto;
border-collapse: collapse;
}
td, th{
    border:2px solid black;
    padding: 5px;
}

th{

    color: slateblue;
    text-align: center;

}

td{
    color: black;
    text-align: center;
}

ul 
{
    font-size: 20px;
    
}