*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;

}
html
{
    scroll-behavior: smooth;
}

body{
    
    background-image: url('black.jpg');
    background-size: cover;
  
}
.alert-alert-primary-alert
{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.card
{
    border-width: thin;
    background-size:contain;
    margin-left: 800px;
    margin-top:150px;
}

.card-body
{
    color:crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top:10px;
    
}
.card-text{
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
.card-img-top{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0%;
    background-image: url('Anime.png');
    background-size: contain;
    

}
.btn-btn-primary
{
    color: red;

}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:whitesmoke;
    text-align: center;
    text-shadow:midnightblue;
    font-weight: bold;
    font-size: 25px;
    font-style:inherit;
   
}
.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    color:whitesmoke;
    text-align: center;
    
    
}
h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    color:whitesmoke;
    text-align: center;
}


a[href="https://www.youtube.com/channel/UC1tm3qWHbjYgncDLFfOfkRg"]
{
    Color: Purple;
    Margin: auto;
}

a:hover[href="https://www.youtube.com/channel/UC1tm3qWHbjYgncDLFfOfkRg"]
{
color:aqua;

}
a[href="https://Instagram.com/animeandbeyond7"]
{
    Color: Orange;
    
}
a[href="https://tiktok.com/@animeandbeyond?lang=en"]
{
    color:lawngreen;
}
a[href="https://twitter.com/animeandbeyond7"]{

    color:lightseagreen;
}

a:hover[href="https://Instagram.com/animeandbeyond7"]
{
    color: maroon;
}
a[href="https://facebook.com/animeandbeyond7"]
{
    color: blue;
    margin: auto;
}
 a:hover[href="https://facebook.com/animeandbeyond7"]
 {
     color: yellow;
 }
 a:hover[href="https://tiktok.com/@animeandbeyond?lang=en"]
{
    color: honeydew;
}
a:hover[href="https://twitter.com/animeandbeyond7"]{

    color:indianred;
}


 img {
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 600px;
    padding-bottom: 150px;

}

#favorite {
    flex-wrap: wrap;
    display: flex;
    padding-left:400px;
}

#favorite > ol
{
    color:aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-left: 400px;
}

table{
border:2px solid whitesmoke;
margin:auto;
border-collapse: collapse;
}
td, th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:2px solid whitesmoke;
    padding: 5px;
}

th{

    color: skyblue;
    text-align: center;

}

td{
    color: aquamarine;
    text-align: center;
}

ul 
{
    font-size: 20px;

}